.btn-custom{
    background: linear-gradient(45deg, #303f9f,#7b1fa2);
    color: white;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%);
}
.btn-custom:hover{
    color: white;
    background: linear-gradient(45deg,#7b1fa2, #303f9f);
}

.custom-form input{
    border-radius: 15px;
    margin-bottom: 12px;
    border: 1px solid #764ABC;
    padding: 10px;
    width: 100%;
    }
    .custom-form textarea{
    border-radius: 15px;
    margin-bottom: 12px;
    border: 1px solid #764ABC;
    padding: 10px;
    width: 100%;
    }
    .custom-form select{
    border-radius: 15px;
    margin-bottom: 12px;
    border: 1px solid #764ABC;
    padding: 10px;
    width: 100%;
    }
    
    .custom-form input:focus{
        outline: 1px solid #764ABC;
        box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%);
        transition: 0.5s ease;
    }
    .custom-form textarea:focus{
        outline: 1px solid #764ABC;
        box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%);
        transition: 0.5s ease;
    }